.btn {
    font-family: var(--font-body);

    background-color: transparent;
    border: none;

    padding: var(--space-2) var(--space-6);
    border-radius: var(--radius-full);
}

.primary {
    background-color: #D4AF37;
    color: var(-clr-text-on-accent);
    transition: var(--transition-fast);
}

.primary:hover {
    background-color: #e6c15a;
    transition: var(--transition-fast);
}

.secondary {
    border: 2px solid #c9a96e;
    color: var(--clr-text-primary);
    transition: var(--transition-fast);
}

.secondary:hover {
    /*TBA*/
    transition: var(--transition-fast);
}